
.div1{
    border-radius: 50%;
    box-shadow: 100px 100px 0px 10px red, 0px 0px 0px 20px green, 0px 0px 0px 30px red;
    width: 100px;
    height:100px;
    margin: 3em;
  }
    body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
  } 
  #outer-circle {
    background: #385a94;
    border-radius: 50%;
    height:500px;
    width:500px;
}
#inner-circle {
    position: relative;
    background: #a9aaab;
    border-radius: 50%;
    height:300px;
    width:300px;
    margin: 0px 0px 0px 100px;
}